
h1, h2 { 
    background-color: #006747; 
    color: whitesmoke;
    padding-left: 5px;
    margin: 5px 5px 5px 5px;
}

h1 { 
    box-shadow: 5px 7px 4px grey;
    border-radius: 7px;
    padding: 5px 5px 5px 5px;
    font-size: xx-large;
}

h2 { 
    box-shadow: -5px 7px 6px grey;
    border-radius: 10px;
    text-align: center; 
}

p {
    margin: 10px 5px 5px 10px;
    background-color: #f0f0f0;
    border-radius: 3px;
    padding: 5px 5px 5px 5px;
}

nav {
    margin: 1px 20px 25px 20px;
    text-align: center;
    background-color: goldenrod;
    border-radius: 5px;
    padding: 5px 5px 5px 5px;
    box-shadow: 0px 5px 5px grey;
    color: whitesmoke;
}